#calendar {
    position: relative;
    width: 100%;
    margin:0px auto 30px;
    display: table;
}

#calendar .ui-datepicker {
    position: relative;
    width: 100%;
    margin:0px auto 20px;
    background: transparent;
    display: table-cell;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}


.ui-datepicker-calendar{
    position: relative;
    float: left;
    width: 100%;    
}

#calendar .ui-datepicker-header {
    position: relative;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
}

#calendar .ui-datepicker-prev,
#calendar .ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    height: 40px;
    margin: auto;
    border-radius: 0;
    background: #FFF;
    -webkit-transition: background 0.15s ease-in-out;
}

#calendar .ui-datepicker-prev {
    left: 0;
}

#calendar .ui-datepicker-next {
    right: 0;
}

#calendar .ui-datepicker-prev:hover,
#calendar .ui-datepicker-next:hover {
    border: 0;
    background: #009bcf;
}

#calendar .ui-datepicker-prev .ui-icon,
#calendar .ui-datepicker-next .ui-icon {
    position: absolute;
    top: 0;
    left: 4px;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #009bcf;
    background: transparent;
    -webkit-transition: border-color 0.15s ease-in-out;
    -webkit-transform: rotate(-45deg);    
    text-indent: -9999px;
}

#calendar .ui-datepicker-next .ui-icon {
    left: -4px;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
}

#calendar .ui-datepicker-prev:hover .ui-icon,
#calendar .ui-datepicker-next:hover .ui-icon {
    border-color: #FFF;
}

#calendar .ui-datepicker-title {
    cursor: default;
    position: relative;
    width: calc(70% - 30px);
    height: 40px;
    padding: 0px 15px;
    margin: auto;
    background: #009bcf;
    color: #FFF;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#calendar .ui-datepicker-calendar {
    margin: 0;
}

#calendar .ui-datepicker-calendar thead th {
    cursor: default;
    height: 35px;
    padding: 5px;
    background: #009bcf;
    color: #FFF;
    line-height: 35px;
    text-transform: uppercase;
}

#calendar .ui-datepicker-calendar thead th.ui-datepicker-week-end {
    background: #009bcf;
    color: #FFF;
    opacity: .6;
}

#calendar .ui-datepicker-calendar tbody td {
    padding: 0px;
    margin: 0;
}

#calendar .ui-datepicker-calendar tbody td.ui-datepicker-week-end {
    background: #FFF;
}

#calendar .ui-datepicker-calendar tbody td a.ui-state-default {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 0;
    background: transparent;
    -webkit-transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
    color: #333;
    text-align: center;
    line-height: 40px;
}

#calendar .ui-datepicker-calendar tbody td a.ui-state-default:hover,
#calendar .ui-datepicker-calendar tbody td a.ui-state-active {
    background: #009bcf;
    color: #FFF;
}

#calendar .ui-datepicker-calendar tbody td a.ui-state-highlight {
    background: #eb6625;
    color: #FFF;
}

#calendar .ui-datepicker-calendar tbody td.ui-datepicker-unselectable {
    background: #009bcf;
    opacity: .3;
}

#calendar .ui-datepicker-calendar tbody td.ui-datepicker-week-end.ui-datepicker-unselectable {
    background: #009bcf;
    opacity: .6;
}
