@font-face {
  font-family: 'fontello';
  src: url('../css/icon/fontello.eot?52789041');
  src: url('../css/icon/fontello.eot?52789041#iefix') format('embedded-opentype'),
       url('../css/icon/fontello.woff2?52789041') format('woff2'),
       url('../css/icon/fontello.woff?52789041') format('woff'),
       url('../css/icon/fontello.ttf?52789041') format('truetype'),
       url('../css/icon/fontello.svg?52789041#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}
.icon-icon_agenda:before { content: '\e800'; }
.icon-icon_alert_1:before { content: '\e801'; }
.icon-icon_alert_2:before { content: '\e802'; }
.icon-icon_asesor_1:before { content: '\e803'; }
.icon-icon_asesor_2:before { content: '\e804'; }
.icon-icon_calendar:before { content: '\e805'; }
.icon-icon_ok:before { content: '\e806'; }
.icon-icon_down:before { content: '\e807'; }
.icon-icon_up:before { content: '\e808'; }

.padding-left-8px {
    padding-left: 8px !important;
}

.padding-right-8px {
    padding-right: 8px !important;
}

.text-bold {
    font-weight: 700;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: initial;
}

.btn.btn-primary {
    color: #ffffff;
    background: rgba(0, 204, 0, 1);
    border-color: transparent;
}

.btn.btn-secondary {
    color: #999999;
    background: #ffffff;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    border-radius: 5px;
}

.btn.btn-blue {
    color: #ffffff;
    background: #00A9E0;
    box-sizing: border-box;
    border-color: transparent;
}

.btn-lg {
    padding: 8px 16px;
    font-size: 16px;
}

.text-underline {
    text-decoration: underline;
}

.contact-number {
    color:#00ABE3;
}

#appointment-confirmation {
    color:#666666;
    /*font-family: 'Telefonica Headline Light', 'Telefonica Headline';*/
    font-family: serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6em;
}

#appointment-confirmation p {
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: normal;
}

#appointment-confirmation .row .header-image {
    margin-top: 12px;
}

#appointment-confirmation .row .header-image img {
    width: 93px;
    height: 59px;
}

#appointment-confirmation .row .appointment-info {
    margin-top: 13px;
}

#appointment-confirmation .row .appointment-info .appointment-date-formatted {
    color:#00ABE3;
}

#appointment-confirmation .row .appointment-remember-ad {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 45px;
    /*font-family: 'Telefonica Text Italic', 'Telefonica Text Regular', 'Telefonica Text';*/
    font-family: serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.5em;
}

#appointment-confirmation .row .appointment-remember-ad p {
    /*max-height: 16px;*/
}

#appointment-confirmation .row .appointment-thanks-msg {
    margin-top: 20px;
}

#appointment-confirmation .row .appointment-thanks-msg .action-back {
    margin-top: 30px;
}

#appointment-confirmation .row .action-confirm {
    margin-top: 60px;
    padding: 0px 37px;
}

#appointment-confirmation .row .action-modify {
    margin-top: 11px;
    padding: 0px 37px;
}

#appointment-confirmation .row .separator {
    margin-top: 40px;
}

#appointment-confirmation .row .footer-image {
    margin-top: 0px;
}

#appointment-calendar.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#appointment-calendar form {
    margin-bottom: 30px;
}

#appointment-calendar .row.separator {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#appointment-calendar .row.separator img {
    width: 100%;
}

#appointment-calendar .appointment-remember-ad {
    margin-top: 10px !important;
    font-size: 0.6em !important;
}

#appointment-calendar .row.action-modify {
    margin-top: 30px;
    padding: 0px 15px;
}

#appointment-calendar .row.action-modify div {
    padding: 0px;
}

/* --- */
#cont_agend{
    background: #FFFFFF;
    color: #50535a;
    padding: 0 0 3em;
    font-family: 'TelefonicaLight';
    font-weight: normal;
}
a, input[type=submit]{
    transition-duration: 0.3s; -moz-transition-duration: 0.3s; -webkit-transition-duration:0.3s;
}
#cont_agend h1, #cont_agend h2, #cont_agend h3, #cont_agend h4, #cont_agend p, #cont_agend strong, #cont_agend label{
    font-weight: normal;
}
#cont_agend strong{
    font-family: 'TelefonicaRegularBold';
}
#cont_agend h1{
    font-size: 4em;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    font-family: 'TelefonicaExtraLight';
    letter-spacing: -0.5px;
}
#cont_agend h2{
    font-size: 3em;
    line-height: 1.1;
    padding: 0;
    margin: 0 0 0.3em;
    font-family: 'TelefonicaExtraLight';
}
#cont_agend h3{
    font-size: 1.8em;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 0.5em;
    font-family: 'TelefonicaLight';
}
#cont_agend h4{
    font-size: 1.4em;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 0.5em;
    font-family: 'TelefonicaLight';
}
#cont_agend label{
    font-size: 1.4em;
    line-height: 1.3;
    font-family: 'TelefonicaLight';
}
#cont_agend p{
    font-size: 1.2em;
    line-height: 1.3;
    font-family: 'TelefonicaLight';
    margin-bottom: 0.2em;
}

#cont_agend .text_center{
    text-align: center;
}
#cont_agend .banner_top{
    background:#231f20;
    color: #ffffff;
    padding:5em 2em 8em;
    position: relative;
    display: block;
}
#cont_agend .banner_top:after{
    content: "";
    background: url(../images/img_bg.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#cont_agend .display_no_photo{
	display:block;
    background-image: url(../images/no_photo.jpg);
	background-repeat: no-repeat;
    background-size: 120px 120px;
}

#display_no_photo{
    content: "";
    background: url(../images/no_photo.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#cont_agend .box_cont{
    background: #ffffff;
    border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
    padding: 2em 3em;
    margin-top: -3em;
    z-index: 2;
    position: relative;
}
#cont_agend .box_cont_2{
    background: #ffffff;
    border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
    padding: 2em 3em;
}
#cont_agend .box_square{
    border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important;
}
#cont_agend .box_cont h3{
    margin: 1.5em 0;
}
#cont_agend .box_cont_2 a.btn_general{
    display: table;
    margin: 1.5em auto 0;
}

#cont_agend .destacado{
    padding: 1em;
    margin: 3em 0;
}
#cont_agend .col_grey{
    background: #E9EAE8;
}
#cont_agend .clear-box:after{
    content: "";
    display: block;
    clear: both;
}
#cont_agend .col_pink{
    background: #E9426D;
    color: #ffffff;
}
#cont_agend .col_green{
    background: #5BC500;
    color: #ffffff;
}
#cont_agend .icon_big{
    font-size: 7em;
    line-height: 1;
    display: block;
    margin: 0 auto 0.2em;
}

#cont_agend ul.steps_form{
    list-style: none;
    margin: 2em 0;
    padding: 0;
}
#cont_agend ul.steps_form li{
    width: calc((100% / 2) - 5px);
    display: inline-block; *display: inline; zoom: 1;
    vertical-align: top;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#cont_agend ul.steps_form li:first-child:after,
#cont_agend ul.steps_form li:last-child:before{
    content: "";
    width: 50%;
    height: 5px;
    background: #00A9E0;
    position: absolute;
    top: 30px;
}
#cont_agend ul.steps_form li:first-child:after{ right: 0;}
#cont_agend ul.steps_form li:last-child:before{ left: 0;}

#cont_agend ul.steps_form li span{
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
    width: 65px;
    height: 65px;
    display: block;
    margin: 0 auto 0.4em;
    background: #ffffff;
    border:3px solid #00A9E0;
    color: #00A9E0;
    font-size: 3em;
    line-height: 1;
    z-index: 3;
    position: relative;
}
#cont_agend ul.steps_form li span i{
    margin: 0.16em 0 0 0;
    display: block;
}
#cont_agend ul.steps_form li.ok span{
    background: #00A9E0;
}
#cont_agend ul.steps_form li.ok span i{
    color: #ffffff;
}
#cont_agend ul.steps_form li p{
    font-family: 'TelefonicaRegularBold';
    color: #B6B7B7;
}
#cont_agend ul.steps_form li.ok p{
    color: #50535a;
}

#cont_agend .form_cliente .clear-box{
    padding: 0 0 2em;
    margin-bottom: 2em;
}
#cont_agend .form_cliente .top_form{
    background: #B6B7B7;
    color: #ffffff;
    padding: 0.5em;
    border-left: 0.5em solid #D3D4D3;
}
#cont_agend .form_cliente label{
    color: #707070;
}
#cont_agend .form_cliente label, #cont_agend .form_cliente input{
    display: block;
    margin: 0.5em 0;
}
#cont_agend .form_cliente input, #cont_agend .form_cliente select{
    width: 100%;
    height: 2.3em;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    border: 0 none;
    color: #B5B5B5;
    padding: 0.5em 1em;
    font-size: 1.4em;
}
#cont_agend .form_cliente input[type=submit]{
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #5BC500;
    color: #ffffff;
    margin: 1em auto;
    padding: 0.7em 1.5em;
    font-size: 1.6em;
    line-height: 1.1;
    text-align: center;
    display: table;
    width: inherit;
    height: inherit;
}
#cont_agend .form_cliente input[type=submit]:hover{
    background: #54AF04;
}
.wrap_calendar{
    margin-top: 36px;
}
.wrap_calendar .row.colors_date{
    /*margin-top: 2em;*/
}
.wrap_calendar .row.colors_date > div{
    font-size: 0.6em;
    line-height: 1.2;
    position: relative;
    /*padding: 0 0 0 2.5em;*/
    padding-left: 23px;
    padding-right: 0px;
    min-height: 40px;
}

#appointment-calendar .date_checkbox{
    margin: 2em auto;
}
#appointment-calendar .date_checkbox label{
    position: relative;
    padding: 0 0 0 1.8em;
    display: block;
    cursor: pointer;
    margin: 0 auto 1em;
    max-width: 190px;
    color: #b6b7b7;
}
#appointment-calendar .date_checkbox label p{
    line-height: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
}
#appointment-calendar .date_checkbox label:last-child{
    margin-bottom: 0;
}
#appointment-calendar .date_checkbox input{
    width: 1em;
    height: 1em;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#appointment-calendar .date_checkbox .checkmark{
    display: block;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
    border: 3px solid #5bc500;
    position: absolute;
    left: 0;
    top: 0;
}
#appointment-calendar .date_checkbox .checkmark:after {
    top: 0.27em;
    left: 0.27em;
    width: 0.45em;
    height: 0.45em;
    border-radius: 50%;
    background: #5bc500;
}
#appointment-calendar .date_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#appointment-calendar .date_checkbox input:checked ~ .checkmark:after {
    display: block;
}
#appointment-calendar .date_checkbox input:checked ~ p {
    color: #50535a;
}
.wrap_calendar .calendar{
    /*margin: 3em 0 2em;*/
    margin-bottom: 36px;
}
.wrap_calendar .calendar header{
    position: relative;
    background: #4fba01;
    padding: 0.3em;
}
.wrap_calendar .calendar header h2.month {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}
.wrap_calendar .calendar header a.btn{
    font-size: 2em;
    line-height: 1;
    color: #ffffff;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    padding: 0;
}
.wrap_calendar .calendar header a.btn.btn-prev{ left: 0.5em;}
.wrap_calendar .calendar header a.btn.btn-next{ right: 0.5em;}
.wrap_calendar .calendar table{
    width: 100%;
    text-align: center;
    /*font-size: 1.4em;*/
    background: #ffffff;
}
.wrap_calendar .calendar table thead{
    background: #4fba01;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.wrap_calendar .calendar table td{
    /*padding: 0.5em 0.2em;*/
}
.wrap_calendar .calendar table a{
    color: #50535a;
    display: block;
    padding: 0.5em;
}
.wrap_calendar .calendar table a.disp{
    background: rgba(91,197,0,0.5);
}
.wrap_calendar .calendar table a:hover,
.wrap_calendar .calendar table a.select{
    background: rgba(0,169,224,0.5);
    color: #ffffff !important;
}
.wrap_calendar .calendar table .day{
    font-family: 'TelefonicaRegular';
}
.wrap_calendar .calendar table .day.wrong-day{
    color: #FB5B5C;
}
.wrap_calendar .calendar table .day.wrong-month{
    color: #b6b7b7;
    font-family: 'TelefonicaLight';
}
.wrap_calendar .calendar table .day.today{
    color: #5bd500;
    font-family: 'TelefonicaRegularBold';
}

.wrap_calendar .box_green, .wrap_calendar .box_blue, .wrap_calendar .box_red{
    width: 21px;
    height: 22px;
    margin: 0 0.5em 0 0;
    position: absolute;
    left: 0;
}
.wrap_calendar .box_green{ background: #5BC500;}
.wrap_calendar .box_blue{ background: #00A9E0; }
.wrap_calendar .box_red{ background: #FB5B5C;}

.wrap_obser{
    border-top: 2px solid #E9EAE8;
    border-bottom: 2px solid #E9EAE8;
    padding: 1em 0;
    margin: 2em auto;
}
#cont_agend a.btn_general{
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    background: #5BC500;
    color: #ffffff;
    margin: 0.5em auto;
    padding: 0.7em 1.5em;
    font-size: 1.6em;
    line-height: 1.1;
    text-align: center;
    display: block;
}
#cont_agend a.btn_general.col_blue{
    background: #00A9E0;
}
#cont_agend a.btn_general.col_red{
    background: #FB5B5C;
}

@media (max-width: 767px){
    #cont_agend .banner_top{ padding:3em 2em 6em;}

    .wrap_calendar .row.colors_date > div{ margin-bottom: 0.5em;}
    .wrap_calendar .row.colors_date > div:last-child{ margin-bottom: 0;}

    #cont_agend .box_cont, #cont_agend .box_cont_2{ padding: 1.5em;}
    #cont_agend .icon_big{ font-size: 5em;}

    #cont_agend h1{ font-size: 2.8em; line-height: 1.2;}
    #cont_agend h2{ font-size: 2.2em;}
    #cont_agend h3{ font-size: 1.6em; line-height: 1.2;}
}
@media (max-width: 460px){
    #cont_agend ul.steps_form li span{ font-size: 2em; width: 50px; height: 50px;}
    #cont_agend ul.steps_form li span i{ margin: 0.25em 0 0 0;}
    #cont_agend ul.steps_form li p{ font-size: 0.9em;}

    #cont_agend ul.steps_form li:first-child:after, #cont_agend ul.steps_form li:nth-child(2):after, #cont_agend ul.steps_form li:nth-child(2):before, #cont_agend ul.steps_form li:last-child:before{ top: 20px;}

    /*.wrap_calendar .calendar table{ font-size: 1em;}*/
    .wrap_calendar .calendar table td{ padding: 0.2em 0.1em;}
}
