@charset "utf-8";
@import url('reset.css');
@import url('fonts.css');

/*1000px*/

/*—————–General————–*/

body,
p,
table,
td,
th,
tr,
ul,
ol,
textarea,
input,
h2,
h1,
h3 {
    font-family: DINPro, arial;
    color: #666666;
    list-style: none;
    font-size: 16px;
    line-height: 16px;
}

h1 {
    font-family: DINPro;
    font-weight: 900;
}

.wrap {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

body {
    width: 100%;
    overflow-x: hidden;
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
    background: #fff;
}

::-webkit-scrollbar-track {
    opacity: 0.8;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #01b1ed;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #01b1ed;
    opacity: 0.8;
}

a:hover {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

strong {
    font-weight: bold;
}

select:invalid {
    color: #c3c3c3;
}


/*—————–General————–*/

/*—————–Header————–*/

header {
    position: relative;
    float: left;
    width: 100%;
    height: 74px;
    background: #009ccf;
    z-index: 8;
}

header::after {
    position: absolute;
    content: ' ';
    width: 95px;
    height: 30px;
    bottom: -30px;
    left: calc(50% - 48px);
    background: url(../img/orangeslide.png) top center no-repeat;
    z-index: 8;
}

header a {
    position: relative;
    float: right;
    margin: 3px 20px 0px 0px;
}

/*—————–Header————–*/


/*—————–Content————–*/

.content {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    z-index: 4;
}

.cont-left {
    position: relative;
    float: left;
    width: calc(50% - 160px);
    padding: 0px 80px;
    height: 100%;
}

.cont-right {
    position: relative;
    float: left;
    width: 50%;
}

.bg-right {
    position: relative;
    float: left;
    width: 100%;
}

.cont-left h1 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 52px;
    line-height: 100%;
    font-weight: 300;
    color: #009bcf;
    text-align: center;
    margin: 25% 0px 10px;
}

.cont-left p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: #2d2d2d;
    text-align: center;
    margin: 0px 0px 10px;
}

.cont-left h2 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 34px;
    line-height: 100%;
    font-weight: 900;
    color: #eb6625;
    text-align: center;
    margin: 0px 0px 10px;
}

.bigbtn {
    position: relative;
    float: left;
    width: calc(100% - 2px);
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    margin: 20px 0px;
    background: #009bcf;
    border: 1px solid #009bcf;
}

.bigbtn:hover,
.bigbtn2:hover,
.smallbtn:hover {
    color: #eb6625;
    background: #fff;
    border: 1px solid #eb6625;
}

.smallbtn {
    position: relative;
    float: left;
    width: calc(50% - 7px);
    color: #009bcf;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    margin: 0px 0px 20px;
    background: #fff;
    border: 1px solid #009bcf;
}

.sb1 {
    margin-right: 10px;
}

.logofibra {
    position: relative;
    float: left;
    width: 84px;
    left: calc(50% - 42px);
    margin: 0px 0px 20px;
}

.bigbtn2 {
    position: relative;
    float: left;
    width: calc(100% - 2px);
    color: #009bcf;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    margin: 0px 0px 20px;
    background: #fff;
    border: 1px solid #009bcf;
}

.cont-left h3 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 32px;
    line-height: 100%;
    font-weight: 300;
    color: #2d2d2d;
    text-align: center;
    margin: 40px 0px;
}

.cont-square {
    position: relative;
    float: left;
    width: calc(100% - 50px);
    border-radius: 12px;
    text-align: center;
    margin: 25% 0px 20px;
    background: #fff;
    border: 1px solid #009bcf;
    padding: 25px;
}

.cont-square h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 30px 0px;
}

.selector {
    position: relative;
    float: left;
    width: calc(100% - 0px);
    color: #666;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    margin: 30px 0px 20px;
    background: #fff;
    border: 1px solid #666;
}

.data-tec {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.data-tec .avatar {
    position: relative;
    float: left;
    width: calc(20% - 20px);
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%
}

.data-tec p {
    position: relative;
    float: left;
    width: 65%;
    text-align: left;
    font-size: 90%;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}

.data-tec p span {
    color: #009bcf;
}


.ccall {
    position: relative;
    float: left;
    width: calc(15% - 20px);
    margin-left: 20px;
}

.ccall img {
    position: relative;
    float: left;
    width: 100%;
}

.tag {
    position: relative;
    float: left;
    width: 32% !important;
    font-size: 90% !important;
}

.tag span {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    content: ' ';
}

.c1 {
    background: #00c389;
}

.c2 {
    background: #eb6625;
}

.c3 {
    background: #455e75;
}

#calendar {
    position: relative;
    float: left;
    width: 80% !important;
    margin: 20px 10% !important;
}

.cont-square .smallbtn {
    margin-bottom: 0px;
}

.cont-square h3 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 32px;
    line-height: 100%;
    font-weight: 900;
    color: #009bcf;
    text-align: center;
    margin: 0px 0px 20px;
}

.cont-square h4 {
    font-size: 28px;
    font-weight: 300;
    line-height: 100%;
    margin: 00px 0px;
    color: #009bcf;
}

.data-tec {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.data-tec .avatar {
    position: relative;
    float: left;
    width: calc(15% - 20px);
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%
}

.data-tec p {
    position: relative;
    float: left;
    width: 65%;
    text-align: left;
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}

.data-tec p span {
    color: #009bcf;
}

.imgtec {
    position: relative;
    width: 170px;
    margin: 0px auto 20px;
}

.cont-full {
    position: relative;
    width: 400px;
    margin: 5% auto 20px;
}

.cont-full h1 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 52px;
    line-height: 100%;
    font-weight: 300;
    color: #009bcf;
    text-align: center;
    margin: 0px 0px 10px;
}

.cont-full p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: #2d2d2d;
    text-align: center;
    margin: 0px 0px 10px;
}

.cont-full p span {
    color: #009bcf;
}

.cont-full h2 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 34px;
    line-height: 100%;
    font-weight: 900;
    color: #eb6625;
    text-align: center;
    margin: 0px 0px 10px;
}

.tinyimg {
    position: relative;
    float: left;
    width: 100px;
    left: calc(50% - 50px);
    margin: 20px 0px;
}

.rpv {
    display: none;
}


.titlecam {
    font-size: 38px;
}

.map {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.map img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}


/*—————–Footer————–*/

footer {
    position: relative;
    float: left;
    width: 100%;
    height: 25px;
    background: #009bcf;
    margin-top:100px;
}

footer p {
    position: relative;
    float: left;
    text-align: left;
    font-size: 12px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    margin-left: 20px;
}

/*------Responsive-------*/

/*mobiles*/

@media only screen and (min-width: 0px) and (max-width: 760px) and (orientation: landscape) {

    body,
    p,
    table,
    td,
    th,
    tr,
    ul,
    ol,
    textarea,
    input,
    h2,
    h1,
    h3 {
        font-family: DINPro, arial;
        color: #666666;
        list-style: none;
        font-size: 14px;
        line-height: 16px;
    }

    .wrap {
        width: 318px;
    }

    .bgrpv {
        display: block;
        position: relative;
        float: left;
        width: 100%;
    }

    .cont-right {
        display: none;
    }

    .cont-left {
        width: calc(100% - 60px);
        padding: 0px 30px;
    }

    .cont-left h1 {
        font-size: 40px;
        margin: 20% 0px 10px;
    }

    .cont-square h2 {
        font-size: 24px;
        margin: 20px 0px;
    }

    .smallbtn,
    .bigbtn {
        font-size: 16px;
    }

    #calendar {
        position: relative;
        float: left;
        width: 100% !important;
        margin: initial !important;
        ;
    }

    .smb {
        font-size: 14px;
        line-height: 100%;
        padding: 10px 0px;
        height: initial;
    }

    .tag {
        font-size: 65% !important;
        margin-top: 10px !important;
    }

    .tag span {
        width: 10px;
        height: 10px;
    }

    .cont-square h4 {
        font-size: 18px;
        margin: 00px 0px 20px;
    }

    .cont-full {
        width: calc(100% - 60px);
        padding: 0px 30px;
        margin: 5% auto 20px;
    }

    .cont-full h1 {
        font-size: 38px;
        margin: 10px 0px 10px;
    }

    .imgtec {
        display: none;
    }

    .imgtec2 {
        display: block;
        position: relative;
        float: left;
        width: 100px;
        left: calc(50% - 50px);
    }

    .avatar {
        display: none;
    }

    .data-tec p {
        width: 100%;
        text-align: center;
    }

    .map2 {
        position: relative;
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        height: 250px;
        overflow: hidden;
    }

    .map2 img {
        position: relative;
        float: left;
        width: 100%;
    }


}

@media only screen and (min-width: 0px) and (max-width: 760px) and (orientation: portrait) {

    body,
    p,
    table,
    td,
    th,
    tr,
    ul,
    ol,
    textarea,
    input,
    h2,
    h1,
    h3 {
        font-family: DINPro, arial;
        color: #666666;
        list-style: none;
        font-size: 14px;
        line-height: 16px;
    }

    .wrap {
        width: 318px;
    }

    .bgrpv {
        display: block;
        position: relative;
        float: left;
        width: 100%;
    }

    .cont-right {
        display: none;
    }

    .cont-left {
        width: calc(100% - 60px);
        padding: 0px 30px;
    }

    .cont-left h1 {
        font-size: 40px;
        margin: 20% 0px 10px;
    }

    .cont-square h2 {
        font-size: 24px;
        margin: 20px 0px;
    }
    .smallbtn{
     	font-size: 16px;
    	line-height: 20px;
		height: 60px;
    }
    .bigbtn {
        font-size: 16px;
    }

    #calendar {
        position: relative;
        float: left;
        width: 100% !important;
        margin: initial !important;
        ;
    }

    .smb {
        font-size: 14px;
        line-height: 100%;
        padding: 10px 0px;
        height: initial;
    }

    .tag {
        font-size: 65% !important;
        margin-top: 10px !important;
    }

    .tag span {
        width: 10px;
        height: 10px;
    }

    .cont-square h4 {
        font-size: 18px;
        margin: 00px 0px 20px;
    }

    .cont-full {
        width: calc(100% - 60px);
        padding: 0px 30px;
        margin: 5% auto 20px;
    }

    .cont-full h1 {
        font-size: 38px;
        margin: 10px 0px 10px;
    }

    .imgtec {
        display: none;
    }

    .imgtec2 {
        display: block;
        position: relative;
        float: left;
        width: 100px;
        left: calc(50% - 50px);
    }

    .avatar {
        display: none;
    }

    .data-tec p {
        width: 100%;
        text-align: center;
    }

    .map2 {
        position: relative;
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        height: 250px;
        overflow: hidden;
    }

    .map2 img {
        position: relative;
        float: left;
        width: 100%;
    }

}
